<%- include('partials/header') %>

<div class="container">
  <div class="row">
    <div class="col">
      <h2>And</h2>
      <label for="andInput1">Input 1:</label>
      <input type="checkbox" id="_andInput1" class="input-checkbox"
      name="andInput1" value="true" <%= and.input1 ? 'checked' : '' %>> <br />
      <label for="andInput2">Input 2:</label>
      <input type="checkbox" id="_andInput2" class="input-checkbox"
      name="andInput2" value="true" <%= and.input2 ? 'checked' : '' %>> <br />
      <p>Output:</p>
      <p id="andOutput"><%= and.output %></p>
    </div>
    <div class="col">
      <h2>Or</h2>
      <label for="orInput1">Input 1:</label>
      <input type="checkbox" id="_orInput1" class="input-checkbox"
      name="orInput1" value="true" <%= or.input1 ? 'checked' : '' %>> <br />
      <label for="orInput2">Input 2:</label>
      <input type="checkbox" id="_orInput2" class="input-checkbox"
      name="orInput2" value="true" <%= or.input2 ? 'checked' : '' %>> <br />
      <p>Output:</p>
      <p id="orOutput"><%= or.output %></p>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/index.js" charset="utf-8"></script>

<%- include('partials/footer') %>
