<%- include('partials/header') %>

<form action="/submit" method="POST">
    <label for="input1">Input 1:</label>
    <input type="checkbox" id="input1" name="input1" value="true" <%= input1Initial ? 'checked' : '' %>> <br>
    <label for="input2">Input 2:</label>
    <input type="checkbox" id="input2" name="input2" value="true" <%= input2Initial ? 'checked' : '' %>> <br>
    <button type="submit">Update</button>
</form> <br>

<p>Output: <%= output %></p>

<%- include('partials/footer') %>