<%- include('partials/header') %>

<div class="container">
  <div class="row">
    <div class="col">
      <label for="set">Set:</label>
      <select name="set" id="set" class="one-bit-mem-cell-input">
        <option value="low" <%= mem.set ? '' : 'selected' %>>Low</option>
        <option value="high" <%= mem.set ? 'selected' : '' %>>High</option>
      </select>
      <br />
      <label for="enable">Enable:</label>
      <select name="enable" id="enable" class="one-bit-mem-cell-input">
        <option value="low" <%= mem.enable ? '' : 'selected' %>>Low</option>
        <option value="high" <%= mem.enable ? 'selected' : '' %>>High</option>
      </select>
      <br />
      <p>Output:</p>
      <p id="oneBitMemCellOutput"><%= mem.output %></p>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
